@using AppServer.Models;
@using AppServer.Models.HubModels;
@{
    ViewBag.Title = "視聴者";
    Presentation presentation = ViewBag.Presentation;
    Color Color = ViewBag.Color;
}

<div class="jumbotron">
    <h1>@presentation.Name</h1>

    @if ( presentation.HasReactionType.HasFlag( eReactionType.Good ) ) {

        <button type="button" class="btn btn-primary btn-lg btn-block" id="sendGood">Good!</button>

    }

    @if ( presentation.HasReactionType.HasFlag( eReactionType.Nice ) ) {

        <button type="button" class="btn btn-primary btn-lg btn-block" id="sendNice">Nice!</button>

    }

    @if ( presentation.HasReactionType.HasFlag( eReactionType.Fun ) ) {

        <button type="button" class="btn btn-primary btn-lg btn-block" id="sendFun">Fun!</button>

    }
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {

            var hub = $.connection.reactionsHub;

            var color = {

                Red : @Color.Red,
                Green : @Color.Green,
                Blue : @Color.Blue

            };

            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendGood').click(function () {

                    // Call the method on the hub.
                    hub.server.sendGood('@presentation.Id', color);

                });
                $('#sendNice').click(function () {

                    // Call the method on the hub.
                    hub.server.sendNice('@presentation.Id', color);

                });
                $('#sendFun').click(function () {

                    // Call the method on the hub.
                    hub.server.sendFun('@presentation.Id', color);

                });
            });
        });
    </script>
}