@model AppServer.Models.Presentation

@{
    ViewBag.Title = "詳細";
}

<h2>Details</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <h4>Presentation</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HasReactionType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HasReactionType)
                </dd>

                <dt>
                    リンク
                </dt>

                <dd>
                    @Html.ActionLink(linkText: "視聴者ページ", actionName: Model.Id, controllerName: "Reaction");
                </dd>
            </dl>
        </section>
    </div>

    <div class="col-md-4">
        <section>
            <img src="http://chart.apis.google.com/chart?chs=250x250&cht=qr&chl=@Request.Url.GetLeftPart(UriPartial.Authority)/Reaction/@Model.Id" alt="QRコード">
        </section>
    </div>
</div>
<p>
    @Html.ActionLink("編集", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("一覧に戻る", "Index")
</p>